<!-- footer starts here -->
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-2">
        <h4 id="footerhead">About US</h4>
        <h5>About US</h5>
        <h5>Who Started it</h5>
        <h5>How to help</h5>
      </div>
      <div class="col-xs-2">
        <h4 id="footerhead">Account Information</h4>
        <h5>How to Login</h5>
        <h5>Create an Account</h5>
        <h5>Log Out</h5>
        <h5>Join US</h5>
      </div>
      <div class="col-xs-2">
        <h4 id="footerhead">About US</h4>
        <h5>About US</h5>
        <h5>Who Started it</h5>
        <h5>How to help</h5>
      </div>
      <div class="col-xs-2">
        <h4 id="footerhead">Account Information</h4>
        <h5>How to Login</h5>
        <h5>Create an Account</h5>
        <h5>Log Out</h5>
        <h5>Join US</h5>
      </div>
      <div class="col-xs-offset-1 col-xs-2">
        <h4 id="footerhead lastcolumn">Our Network&nbsp&nbsp&nbsp<i class="fa fa-caret-square-o-down fa-1x"></i></h4>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row col-xs-8">
    <p class="footer-matter">Lorem ipsum dolor sit amet, ea vide suscipit indoctum nec. Cu adhuc debitis inimicus eam, no his errem recteque facilisis. Mazim animal luptatum ei qui. Qui porro graeci perfecto ea. Eos tantas detracto definiebas at, mucius scaevola euripidis duo ei.</p>
    </div>
  </div>
</div>