<nav class="navbar navbar-default mainnav">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><span class="loc">LOCATION</span> <span class="fin">FIND&nbsp<i class="fa fa-map-marker fa-4"></i></span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse pull-right mainright" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="rightset">Our Network&nbsp&nbsp&nbsp<i class="fa fa-caret-square-o-down fa-1x"></i></li></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->   
</nav>
<nav class="navbar navbar-default secondnav">
  <div class="container">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li role="presentation"><a href="#" class="navicons1 dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-map-marker fa-4"></i>&nbspFind Locations</a>
          <ul class="dropdown-menu list-inline">
            <li><a class="active"href="#">Find a Location</a></li>
            <li><a class="active"href="#">Add a Location</a></li>
            <li><a class="active"href="#">Review a Location</a></li>
          </ul>
        </li>
        <li role="presentation"><a href="#" class="navicons"><i class="fa fa-book"></i>&nbspOur Species</a></li>
        <li role="presentation"><a href="#" class="navicons"><i class="fa fa-shopping-cart"></i>&nbspShop</a></li>     
      </ul>
      <ul class="nav navbar-nav navbar-right righticons">
        <li role="presentation" class="navicons2" ><a href="#" id="icon4"><i class="fa fa-folder-open"></i>&nbspMy Account</a></li>
        <li role="presentation" ><a href="#"><i class="fa fa-bookmark"></i>&nbspSign Up</a></li>
        <li role="presentation" ><a href="#"><i class="fa fa-envelope"></i>&nbspContact</a></li>       
      </ul>
    </div>
  </div>
</nav>
<div id="navcontainer">
  <div id="map-canvas"></div>
  <div class="inmap container-fluid">
    <ul class="map-options">
      <li>
        <a href="#"><span id = "number1">1</span>Drop pin onto the location on map</a>
      </li> 
      <li>
        <a href="#"><span id="number2">2</span>Add a species found at location</a>
      </li>
      <li role="presentation"><a href="#" class="navicons1 dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Find Locations</a>
        <ul class="dropdown-menu">
          <li><a href="#">Find a Location</a></li>
          <li><a href="#">Add a Location</a></li>
          <li><a href="#">Review a Location</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<!-- footer starts here -->
<div class="container-fluid footer">
  <div class="row">
    <div class="col-xs-offset-1 col-xs-2">
    <h4>About US</h4>
    <h5>About US</h5>
    <h5>Who Started it</h5>
    <h5>How to help</h5>
    </div>
    <div class="col-xs-2">
      <h4>Account Information</h4>
      <h5>How to Login</h5>
      <h5>Create an Account</h5>
      <h5>Log Out</h5>
      <h5>Join US</h5>
    </div>
    <div class="col-xs-2">
      <h4>About US</h4>
    <h5>About US</h5>
    <h5>Who Started it</h5>
    <h5>How to help</h5>
    </div>
    <div class="col-xs-2">
      <h4>Account Information</h4>
      <h5>How to Login</h5>
      <h5>Create an Account</h5>
      <h5>Log Out</h5>
      <h5>Join US</h5>
    </div>
    <div class="col-xs-2">
      <h4>Our Network&nbsp&nbsp&nbsp<i class="fa fa-caret-square-o-down fa-1x"></i></h4>
    </div>
  </div>
</div>