<nav class="navbar navbar-default mainnav">
  <div class="container">
    <div class="row">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><span class="loc">LOCATION</span> <span class="fin">FIND&nbsp<i class="fa fa-map-marker fa-4"></i></span></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse pull-right mainright" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="rightset">Our Network&nbsp&nbsp&nbsp<i class="fa fa-caret-square-o-down fa-1x"></i></li></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div> 
  </div><!-- /.container-fluid --> 

</nav>
<nav class="navbar navbar-default secondnav">
  <div class="container">
    <div class="row">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li role="presentation"><a href="#" class="navicons1 dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-map-marker fa-4"></i>
            &nbspFind Locations</a>
            <ul class="dropdown-menu list-inline">
              <li><a class="active"href="#">Find a Location</a></li>
              <li><a class="active"href="#">Add a Location</a></li>
              <li><a class="active"href="#">Review a Location</a></li>
              <li><a class="active"href="#">Review a Location</a></li>
              <li><a class="active last"href="#">Register</a></li>
            </ul>
          </li>
          <li role="presentation"><a href="#" class="navicons"><i class="fa fa-book"></i>&nbspOur Species</a></li>
          <li role="presentation"><a href="#" class="navicons"><i class="fa fa-shopping-cart"></i>&nbspShop</a></li>     
        </ul>
        <ul class="nav navbar-nav navbar-right righticons">
          <li role="presentation" class="navicons2" ><a href="#" id="icon4"><i class="fa fa-folder-open"></i>&nbspMy Account</a></li>
          <li role="presentation" ><a href="#"><i class="fa fa-bookmark"></i>&nbspSign Up</a></li>
          <li role="presentation" ><a href="#"><i class="fa fa-envelope"></i>&nbspContact</a></li>       
        </ul>
      </div>
    </div>
  </div>
</nav>
<div id="navcontainer">
  <div id="map-canvas"></div>
  <div class="inmap container">
    <ul class="map-options">
      <li>
        <a href="#"><span id = "number1">1</span>Drop pin onto the location on map</a>
      </li> 
      <li>
        <a href="#"><span id="number2">2</span>Add a species found at location</a>
      </li>
      <li>
        <a href="#" class="map-button">Add Location</a>
      </li>
    </ul>
  </div>
</div>
<!-- <div class="container"> -->
<div class="container">
  <div class="row">
    <p id="table-header">Locations you've Add</p>
    <p>Lets get some dunny no worries come a bloke. Stands out like a ridgy-didgy where you find the locations</p>
    <table class="table">
      <tr class="warning">
        <td>Blaz'z wicked ass fishing spot</td>
        <td>Mullet, Australian Salmon</td>    
        <td>See Location</td>
      </tr>
      <tr>
        <td>Ball Bag River</td>
        <td>Australian Salamon</td>    
        <td>See Location</td>
      </tr>
      <tr class="warning">
        <td>Raz'z wicked ass fishing spot</td>
        <td>Mattagidise</td>    
        <td>See Location</td>
      </tr>
      <tr>
        <td>Ball Bag River</td>
        <td>Australian Salamon</td>    
        <td>See Location</td>
      </tr>
    </table>
    <p id="table-header">Recent locations you've rated</p>
    <p>Lets see some recent locations that are rated high, The below are a few sample locations</p>
    <table class="table">
      <tr class="info">
        <td>Blaz'z wicked ass fishing spot</td>
        <td>Mullet, Australian Salmon</td>
        <td><i class="fa fa-star"></i>&nbsp&nbsp<i class="fa fa-star"></i>&nbsp&nbsp<i class="fa fa-star"></i>&nbsp&nbsp<i class="fa fa-star"></i></td>
        <td id="View-Location">View Location on map</td>
      </tr>
      <tr>
        <td>Ball Bag River</td>
        <td>Australian Salamon</td>
        <td><i class="fa fa-star"></i>&nbsp&nbsp<i class="fa fa-star"></i>&nbsp&nbsp<i class="fa fa-star"></i>&nbsp&nbsp<i class="fa fa-star"></i></td>    
        <td id="View-Location">View Location on map</td>
      </tr>
      <tr class="info">
        <td>Raz'z wicked ass fishing spot</td>
        <td>Mattagidise</td>
        <td><i class="fa fa-star"></i>&nbsp&nbsp<i class="fa fa-star"></i>&nbsp&nbsp<i class="fa fa-star"></i>&nbsp&nbsp<i class="fa fa-star"></i></td>
        <td id="View-Location">View Location on map</td>
      </tr>
      <tr>
        <td>Ball Bag River</td>
        <td>Australian Salamon</td>
        <td><i class="fa fa-star"></i>&nbsp&nbsp<i class="fa fa-star"></i>&nbsp&nbsp<i class="fa fa-star"></i>&nbsp&nbsp<i class="fa fa-star"></i></td>
        <td id="View-Location">View Location on map</td>
      </tr>
      <tr class="info">
        <td>Blaz'z wicked ass fishing spot</td>
        <td>Mullet, Australian Salmon</td>
        <td><i class="fa fa-star"></i>&nbsp&nbsp<i class="fa fa-star"></i>&nbsp&nbsp<i class="fa fa-star"></i>&nbsp&nbsp<i class="fa fa-star"></i></td>
        <td id="View-Location">View Location on map</td>
      </tr>
      <tr>
        <td>Ball Bag River</td>
        <td>Australian Salamon</td>
        <td><i class="fa fa-star"></i>&nbsp&nbsp<i class="fa fa-star"></i>&nbsp&nbsp<i class="fa fa-star"></i>&nbsp&nbsp<i class="fa fa-star"></i></td>    
        <td id="View-Location">View Location on map</td>
      </tr>
      <tr class="info">
        <td>Raz'z wicked ass fishing spot</td>
        <td>Mattagidise</td>
        <td><i class="fa fa-star"></i>&nbsp&nbsp<i class="fa fa-star"></i>&nbsp&nbsp<i class="fa fa-star"></i>&nbsp&nbsp<i class="fa fa-star"></i></td>
        <td id="View-Location">View Location on map</td>
      </tr>
      <tr>
        <td>Ball Bag River</td>
        <td>Australian Salamon</td>
        <td><i class="fa fa-star"></i>&nbsp&nbsp<i class="fa fa-star"></i>&nbsp&nbsp<i class="fa fa-star"></i>&nbsp&nbsp<i class="fa fa-star"></i></td>
        <td id="View-Location">View Location on map</td>
      </tr>
    </table>
  </div>
</div>
<!-- </div> -->
