.mainnav{
  background-color: #1367B0;
  margin: 0;
  border: 0;
  border-radius: 0;
  span.loc{
    margin-left: 29px;
    color: #34495e;
    font-family: Lato;
    font-size: 30px;
  }
  span.fin{
    color: #ecf0f1;
    font-family: Lato;
    font-size: 30px;
  }
  .rightset{
    padding-top: 18px;
    //margin-right: 130px;
    font-family: Lato;
    font-size: 15px;  
  }
}
.secondnav{
  background-color: #003664;
  margin: 0;
  border-radius: 0;
  border: 0;
  .navbar-nav>li>a {
    color: white;
  }
  .navbar-nav>li>a:hover{
    background-color: #04264C;
    color: white;
  }
  .navicons1{
    // margin-left: 45px;
  }
  .righticons{
    //margin-right: 100px;
    font-size: 10px;
  }
  button{
    background-color: #60ff60;
    position: absolute;
    top: 6px;
    right: 7px;
  }
  .last{
    border-radius: 3px;
    color: white;
    padding: 5px 20px;
    background-color: #9ABB13;
    text-decoration: none;
    float: right;
    position: absolute;
    top: 3px;
    right: 5px;

  }
}
#navcontainer  ul {
  margin: 9px ;
  padding: 0;
  list-style-type: none;
}
#navcontainer ul li{
  display: inline;
}
#navcontainer ul li a{
  color: #ecf0f1;
  margin: 11px;
  font-weight: bold;
}
.inmap{
  position: relative;
  top: -56px;
  background-color: #003664;
  // margin-left: 70px;
  height: 43px;
  .map-button{
    border-radius: 3px;
    color: white;
    padding: 5px 20px;
    background-color: #9ABB13;
    text-decoration: none;
    float: right;
    position: absolute;
    top: -5px;
    right: 0;
    &:hover {
      color: black;
      background-color: white;
    }
  }
}
#number1{
  color: black;
  border-radius: 50%;
  background-color: white;
  width: 25px;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  text-align: center;
  margin-right: 15px;
}
#number2{
  color: black;
  border-radius: 50%;
  background-color: white;
  width: 25px;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  text-align: center;
  margin-right: 15px;
}
.navbar-nav .dropdown-menu{
  width: 76vw;
  // left: 44px; 
  background-color: #0C99C7;
}
.navbar-default .navbar-nav>.open>a{
  &, &:hover, &:focus, &:active {
    color: white;
    background-color: #0C99C7;
  }
}

.icons{
  width: 45px;
  float: left;
  .icon {
    padding: 10px;
    margin-bottom: 3px;
    background-color: #0B98C7;
    text-align: center;
    color: white;
    border-radius: 4px;
  }
}
#indented-container {
  background-color: #FFFFFF;
  margin-left: 45px;
  padding: 0px 25px;  
}
.footer{
  background-color: #003664;
  color: #34495e;
  #footerhead{
    color: white;
    font-size: 17px;
  }
  .lastcolumn{
    float: right;
  }
  h4 {
    color: white;
  }
  h5{
    color: #0C99C7;
  }
}
#table-header{
  font-family: Lato;
  color: #3498db;
  font-size: 30px;
}
#View-Location{
  color: #3498db;
}

#map-canvas {
  width: 100%;
  height: 500px;
}

.footer-matter{
    color: #2A67A1;
  }